header{
    position: sticky;
    top: 0;
    z-index: 2;
    height: 3.125rem;
    padding: 0 0.625rem;
    transition: .2s;
    background: #fff;
}
header .inner-wrap {
    display: flex;
    height: 3.125rem;
    /* padding: 0 0.625rem; */
    justify-content: space-between;
    align-items: center;
}
header .header-title {
    flex: auto;
    padding-left: 2.5rem;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    transition: color .2s;
}
.aside-menu {
    opacity: 0; 
    position: fixed; 
    top: 0; 
    right: -384px; 
    bottom: 0; 
    width: 384px; 
    padding: 0.625rem 0.625rem 0 0.625rem; 
    background-color: #f9f9f9; 
    box-shadow: 0 1px 3px rgb(0, 0, 0, 0.16); 
    transition: .3s ease-in-out; 
    z-index: 11;
}
.aside-menu.active {
    opacity: 1; 
    right: 0;
}
.ico-menu {
    background-image: url(../../resources/images/icon/ico_menu.svg);
}

.btn-close{
    position: absolute;
    right: 0.625rem;
}
.ico-close {
    background-image: url(../../resources/images/icon/ico_close.svg);
}
.nav {
    padding-top: 3.125rem;
}
.nav li {
    padding: 1rem;
    border-bottom: 1px solid #e6e6e6;
}
.nav li span{
    font-size: 1.25rem;
    font-weight: 700;
}


/* main */
.content{
    max-width: 768px;
    margin: 0 auto;
    padding: 1.875rem 0;
    background-color: #fff;
}
.content .sub-title {
    background-color: #f8f8f8;
    padding: 0.75rem;
    text-align: center;
}
.board-list {
    display: flex;
    flex-direction: column;
}
.board-list > ul > li > * {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}
.board-list > ul > li .thumb {
    overflow: hidden;
    width: 100%;
    min-height: 7.5rem;
    border-radius: 0.625rem;
    margin: 0 0 1.25rem;
    position: relative;
    height: 8.4375rem;
    background-color: #e6e6e6;
    flex-shrink: 0;
}
.board-list > ul > li .thumb.detail {
    height: auto;
}
.board-list > ul > li .thumb.nav-detail {
    height: auto;
    margin: 0;
}
.board-list > ul > li .thumb img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.board-list .board-title {
    width: 100%;
    line-height: 1.5;
}
.board-list .date {
    display: block;
}
.space-between {
    justify-content: space-between;
}